---
http_interactions:
- request:
    method: post
    uri: https://api.linkedin.com/v2/shares
    body:
      encoding: UTF-8
      string: '{"owner":"urn:li:organization:9999999","content":{"contentEntities":[{"entityLocation":"https://www.rockcontent.com/blog","thumbnails":[{"resolvedUrl":"https://s3-us-west-2.amazonaws.com/rc2-development/img/branco.jpg"}]}]},"distribution":{"linkedInDistributionTarget":{}},"text":{"text":"Sample
        text"}}'
    headers:
      Authorization:
      - Bearer token
      Content-Type:
      - application/json
      X-Restli-Protocol-Version:
      - 2.0.0
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      X-Li-Responseorigin:
      - RGW
      Content-Type:
      - application/json
      X-Restli-Error-Response:
      - 'true'
      X-Restli-Gateway-Error:
      - 'false'
      X-Restli-Protocol-Version:
      - 2.0.0
      X-Li-Fabric:
      - prod-lva1
      X-Li-Pop:
      - prod-esp2
      X-Li-Proto:
      - http/1.1
      X-Li-Uuid:
      - YsMps7DutRWgc4EtyCoAAA==
      X-Li-Route-Key:
      - '"b=VB08:g=2667:u=328:i=1564418888:t=1564492811:s=AQFOm2y5e-VfYSbW-2elrhjiSs0mAHzg"'
    body:
      encoding: UTF-8
      string: '{"message":"Sharing entity is not authorized to perform this action:
        null","status":401}'
  recorded_at: Mon, 29 Jul 2019 16:49:18 GMT
recorded_with: VCR 5.0.0
