---
http_interactions:
- request:
    method: post
    uri: https://api.linkedin.com/v2/ugcPosts
    body:
      encoding: UTF-8
      string: '{"author":"urn:li:person:9999999","lifecycleState":"PUBLISHED","specificContent":{"com.linkedin.ugc.ShareContent":{"shareCommentary":{"text":"Sample
        text - again!"},"shareMediaCategory":"NONE"}},"visibility":{"com.linkedin.ugc.MemberNetworkVisibility":"PUBLIC"}}'
    headers:
      Authorization:
      - Bearer token
      Content-Type:
      - application/json
      X-Restli-Protocol-Version:
      - 2.0.0
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      X-Li-Responseorigin:
      - RGW
      Content-Type:
      - application/json
      X-Restli-Error-Response:
      - 'true'
      X-Restli-Gateway-Error:
      - 'false'
      X-Restli-Protocol-Version:
      - 2.0.0
      X-Li-Fabric:
      - prod-lva1
      X-Li-Pop:
      - prod-esp2
      X-Li-Proto:
      - http/1.1
      X-Li-Uuid:
      - yVf/j9LutRXAQ6giyCoAAA==
      X-Li-Route-Key:
      - '"b=VB08:g=2667:u=328:i=1564419033:t=1564492811:s=AQESdyB3ydrI22jXyxfd1_c60kytlRpV"'
    body:
      encoding: UTF-8
      string: '{"message":"com.linkedin.publishing.util.common.ResponseException:
        Writers of type person are not authorized to modify UserGeneratedContent.","status":401}'
  recorded_at: Mon, 29 Jul 2019 16:51:43 GMT
recorded_with: VCR 5.0.0
