---
http_interactions:
- request:
    method: post
    uri: https://api.linkedin.com/v2/shares
    body:
      encoding: UTF-8
      string: '{"owner":"urn:li:person:zdUs3lzI6l","content":{"contentEntities":[{"entityLocation":"https://rockcontent.com","thumbnails":[{"resolvedUrl":"https://s3-us-west-2.amazonaws.com/rc2-development/img/branco.jpg"}]}]},"distribution":{"linkedInDistributionTarget":{}},"text":{"text":"Example
        from test"}}'
    headers:
      Authorization:
      - Bearer token
      Content-Type:
      - application/json
      X-Restli-Protocol-Version:
      - 2.0.0
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Li-Responseorigin:
      - RGW
      Content-Type:
      - application/json
      Location:
      - "/sharesV2/6561647834054053888"
      X-Restli-Id:
      - '6561647834054053888'
      X-Restli-Protocol-Version:
      - 2.0.0
      X-Li-Fabric:
      - prod-lva1
      X-Li-Pop:
      - prod-esp2
      X-Li-Proto:
      - http/1.1
      X-Li-Uuid:
      - DCPBKpHutRVA+JCOHSsAAA==
      X-Li-Route-Key:
      - '"b=VB08:g=2667:u=328:i=1564418752:t=1564492811:s=AQFxkXruoAVEobJ7Vn3Te4UwYX9ES0i5"'
    body:
      encoding: UTF-8
      string: '{"owner":"urn:li:person:zdUs3lzI6l","activity":"urn:li:activity:6561647834448318465","edited":false,"created":{"actor":"urn:li:person:zdUs3lzI6l","time":1564418753168},"serviceProvider":"API","id":"6561647834054053888","lastModified":{"actor":"urn:li:csUser:0","time":1564418753240},"text":{"text":"Example
        from test"},"distribution":{"linkedInDistributionTarget":{"visibleToGuest":true}},"content":{"contentEntities":[{"entityLocation":"https://rockcontent.com","thumbnails":[{"imageSpecificContent":{},"resolvedUrl":"https://s3-us-west-2.amazonaws.com/rc2-development/img/branco.jpg"}]}],"shareMediaCategory":"ARTICLE"}}'
  recorded_at: Mon, 29 Jul 2019 16:47:03 GMT
recorded_with: VCR 5.0.0
