---
http_interactions:
- request:
    method: get
    uri: https://api.linkedin.com/v2/me?projection=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer token
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Li-Responseorigin:
      - RGW
      Content-Type:
      - application/json;charset=utf-8
      X-Li-Fabric:
      - prod-lva1
      X-Li-Pop:
      - prod-esp2
      X-Li-Proto:
      - http/1.1
      X-Li-Uuid:
      - 7rkTotrttRXgaJfsWisAAA==
      X-Li-Route-Key:
      - '"b=VB08:g=2667:u=328:i=1564417968:t=1564492811:s=AQFlZ-6HcDkoPwD-It6kjekz0Aj6EEYV"'
    body:
      encoding: UTF-8
      string: '{"localizedLastName":"RC","lastName":{"localized":{"pt_BR":"RC"},"preferredLocale":{"country":"BR","language":"pt"}},"vanityName":"aplicativo-rc-110817144","localizedHeadline":"Senior
        Web Application Developer na FAKE","firstName":{"localized":{"pt_BR":"Aplicativo"},"preferredLocale":{"country":"BR","language":"pt"}},"profilePicture":{"displayImage":"urn:li:digitalmediaAsset:C5103AQGM-ywdwancXA"},"id":"zdUs3lzI6l","headline":{"localized":{"pt_BR":"Senior
        Web Application Developer na FAKE"},"preferredLocale":{"country":"BR","language":"pt"}},"localizedFirstName":"Aplicativo"}'
  recorded_at: Mon, 29 Jul 2019 16:33:59 GMT
- request:
    method: get
    uri: https://api.linkedin.com/v2/me?projection=(localizedFirstName)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer token
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Li-Responseorigin:
      - RGW
      Content-Type:
      - application/json;charset=utf-8
      X-Li-Fabric:
      - prod-lva1
      X-Li-Pop:
      - prod-esp2
      X-Li-Proto:
      - http/1.1
      X-Li-Uuid:
      - Mo4IbCTutRUgrNr6FSsAAA==
      X-Li-Route-Key:
      - '"b=VB08:g=2667:u=328:i=1564418285:t=1564492811:s=AQFLMV6_jjqS-KsaLaTP2o7zuoqzrYnC"'
    body:
      encoding: UTF-8
      string: '{"localizedFirstName":"Aplicativo"}'
  recorded_at: Mon, 29 Jul 2019 16:39:16 GMT
- request:
    method: get
    uri: https://api.linkedin.com/v2/me?projection=(incorrect%20query)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer token
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Li-Responseorigin:
      - RGW
      X-Restli-Gateway-Error:
      - 'true'
      Content-Type:
      - application/json
      X-Li-Fabric:
      - prod-lva1
      X-Li-Pop:
      - prod-esp2
      X-Li-Proto:
      - http/1.1
      X-Li-Uuid:
      - FiQiZSzutRWAtFteGCsAAA==
      X-Li-Route-Key:
      - '"b=VB08:g=2667:u=328:i=1564418320:t=1564492811:s=AQGN-kA5yGxa2xBBGCUI8wGq66Ug8i3L"'
    body:
      encoding: UTF-8
      string: '{"serviceErrorCode":0,"message":"Expected to get '','', but got ''query''","status":400}'
  recorded_at: Mon, 29 Jul 2019 16:39:50 GMT
- request:
    method: get
    uri: https://api.linkedin.com/v2/me?projection=(localizedFirstNameE)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer token
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Li-Responseorigin:
      - RGW
      Content-Type:
      - application/json;charset=utf-8
      X-Li-Fabric:
      - prod-lva1
      X-Li-Pop:
      - prod-esp2
      X-Li-Proto:
      - http/1.1
      X-Li-Uuid:
      - XCI7kzPutRXg8rDsFysAAA==
      X-Li-Route-Key:
      - '"b=VB08:g=2667:u=328:i=1564418350:t=1564492811:s=AQG3nWBg-nJFm5vMS1GD5fJTEa2YV9kR"'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 29 Jul 2019 16:40:21 GMT
recorded_with: VCR 5.0.0
