---
http_interactions:
- request:
    method: post
    uri: https://api.linkedin.com/v2/shares
    body:
      encoding: UTF-8
      string: '{"owner":"urn:li:organization:22302249","content":{"contentEntities":[{"entityLocation":"https://www.rockcontent.com/blog","thumbnails":[{"resolvedUrl":null}]}]},"distribution":{"linkedInDistributionTarget":{}},"text":{"text":"Sample
        text"}}'
    headers:
      Authorization:
      - Bearer invalid_token
      Content-Type:
      - application/json
      X-Restli-Protocol-Version:
      - 2.0.0
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      X-Li-Responseorigin:
      - RGW
      X-Restli-Gateway-Error:
      - 'true'
      Content-Type:
      - application/json
      X-Li-Fabric:
      - prod-lva1
      X-Li-Pop:
      - prod-esp2
      X-Li-Proto:
      - http/1.1
      X-Li-Uuid:
      - cXmGASHntRXga1T0vyoAAA==
      X-Li-Route-Key:
      - '"b=VB47:g=2223:u=1:i=1564410574:t=1564496974:s=AQG5L7jcQK9QxjhrVkTaeDzzrnY-UNBH"'
    body:
      encoding: UTF-8
      string: '{"serviceErrorCode":65600,"message":"Invalid access token","status":401}'
  recorded_at: Mon, 29 Jul 2019 14:30:44 GMT
recorded_with: VCR 5.0.0
