---
http_interactions:
- request:
    method: post
    uri: https://api.linkedin.com/v2/ugcPosts
    body:
      encoding: UTF-8
      string: '{"author":"urn:li:person:zdUs3lzI6l","lifecycleState":"PUBLISHED","specificContent":{"com.linkedin.ugc.ShareContent":{"shareCommentary":{"text":"Sample
        text"},"shareMediaCategory":"NONE"}},"visibility":{"com.linkedin.ugc.MemberNetworkVisibility":"PUBLIC"}}'
    headers:
      Authorization:
      - Bearer invalid_token
      Content-Type:
      - application/json
      X-Restli-Protocol-Version:
      - 2.0.0
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      X-Li-Responseorigin:
      - RGW
      X-Restli-Gateway-Error:
      - 'true'
      Content-Type:
      - application/json
      X-Li-Fabric:
      - prod-lva1
      X-Li-Pop:
      - prod-esp2
      X-Li-Proto:
      - http/1.1
      X-Li-Uuid:
      - qAeq8s7utRVg0hI5xioAAA==
      X-Li-Route-Key:
      - '"b=VB47:g=2223:u=1:i=1564419018:t=1564505418:s=AQEAbeY5w7FZBWfcm7D19NhYzdbyAK-x"'
    body:
      encoding: UTF-8
      string: '{"serviceErrorCode":65600,"message":"Invalid access token","status":401}'
  recorded_at: Mon, 29 Jul 2019 16:51:28 GMT
recorded_with: VCR 5.0.0
